<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<system.webServer>
		<rewrite>
			<rules>
				<!-- Restrict access to Umbraco -->
				<rule name="Restrict access" stopProcessing="true">
					<match url="umbraco$|umbraco/(?!surface\/)(?!api\/)" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{HTTP_HOST}" pattern="(([^.]+)\.)?umbracoazure-cms\.azurewebsites\.net" negate="true" />
						<add input="{HTTP_HOST}" pattern="(([^.]+)\.)?localhost" negate="true" />
					</conditions>
					<action type="CustomResponse" statusCode="404"/>
				</rule>
			</rules>
		</rewrite>
	</system.webServer>

</configuration>